{% for item in  groups[target+'_glusterfs_nodes'] %}
{{ hostvars[item]['ansible_default_ipv4']['address']}}{{"\t"}}{{ hostvars[item]['inventory_hostname'] }}{{"\t"}}{{ hostvars[item]['inventory_hostname_short'] }}
{% endfor %}
localhost{{"\t"}}{{ inventory_hostname }}{{"\t"}}{{ inventory_hostname_short }}
