dir: local
    path /var/lib/vz
    content iso,vztmpl,backup

lvmthin: local-lvm
    thinpool data
    vgname pve
    content rootdir,images

{% for i in glusterfs_volumes.replicated_volume %}
glusterfs: glusterfs_storage
        server {{ groups[target+'_glusterfs_nodes'][0] }}
        server2 {{ groups[target+'_glusterfs_nodes'][1] }}
        volume {{ i.name }}
        content images,iso
{% endfor %}
