#!/bin/bash
temp_file=$1
echo -e "[GLOBAL]\nstorage-plugin = lvm_thinlv.LvmThinLv\n\n[Node:{{ inventory_hostname_short}}]\n[Plugin:ThinLV]\nvolume-group = {% for group in lvm_volume_groups %}{{ group }}{% endfor %}\nlvm-path = /sbin\ndev-path = /dev/\npool-name = {% for pool in lvm_thin_pools %}{{ pool }}{% endfor %}" >> "$temp_file"
